header {
    display: flex;
    justify-content: space-between;
    background: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px

}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
    margin-top: 7px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: white;
    color: #F25A70;
}