.main-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-bottom: 10px solid #F25A70;
}