.main-action {
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

.main-action::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
    margin-top: 7px;
}

