.main-button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
}

.main-button:hover {
    background-color: white;
    color: #F25A70;
}
