.progress-bar {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 40px;
    border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar {
    background-color: white;
}

.progress-bar::-webkit-progress-value {
    background-color: #7C5E99;
}