.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

.wrapper-skill .skill-tec {
    margin-bottom: 40px;
}

.wrapper-skill .skill-tec:nth-child(odd) {
    margin-right: 100px;
}


.wrapper-skill .progress-bar {
    width: 320px;
}